<!DOCTYPE html>
<html lang="en">
<head>
    <title>Carte des Clients</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css">
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <style>
        #map { height: 500px; width: 100%; }
    </style>
</head>
<body>
    <h1>Carte des Clients</h1>
    <div id="map"></div>
    <script>
        // Initialisation de la carte
        var map = L.map('map').setView([0, 0], 2);

        // Ajouter un fond de carte
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '© OpenStreetMap contributors'
        }).addTo(map);

        // Ajouter les points à partir des données de la base
        var locations = JSON.parse('{{ locations|tojson|escapejs }}');
        locations.forEach(location => {
            L.marker([location.latitude, location.longitude])
             .addTo(map)
             .bindPopup(location.name);
        });
    </script>
</body>
</html>
