<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Carte des Clients</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='map.css') }}" />
  </head>
  <body>
    <h1>Carte des Clients</h1>
    <div id="map"></div>
    <script>
      // Initialisation de la carte
      var map = L.map("map").setView([46.227638, 2.213749], 6); // Centered on France

      // Ajouter un fond de carte
      L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
        attribution: "© OpenStreetMap contributors",
      }).addTo(map);

      // Ajouter les points à partir des données de la base
      var locations = JSON.parse("{{ locations|tojson|safe }}");
      if (locations && locations.length > 0) {
        locations.forEach((location) => {
          if (location.latitude && location.longitude) {
            L.marker([
              parseFloat(location.latitude),
              parseFloat(location.longitude),
            ])
              .addTo(map)
              .bindPopup(
                `Nom: ${location.name}, Latitude: ${location.latitude}, Longitude: ${location.longitude}`
              );
          }
        });

        // Ajuster la vue si des marqueurs sont présents
        if (locations.length === 1) {
          map.setView([locations[0].latitude, locations[0].longitude], 13);
        }
      } else {
        console.error("Aucune donnée de localisation trouvée.");
      }
    </script>
  </body>
</html>
